@use '../components/variables' as var;
@use '../components/section';
@use '../components/firstview';
@use '../components/more';
@use '../components/footer';

.intro {
    position: relative;
    z-index: 2;
    width: 955rem;
    padding: 80rem 60rem 80rem 240rem;
    margin: -105rem auto 0;
    font-family: var.$ship;
    font-size: 18rem;
    line-height: 227%;
    text-align: left;
    letter-spacing: 0.01em;
    background: #fff;
    filter: drop-shadow(0 4px 34px rgb(0 0 0 / 5%));

    @include var.md {
        width: 90%;
        padding: 50rem 25rem 20rem;
        margin-top: -30rem;
        font-size: 14rem;
    }

    .heading2 {
        position: absolute;
        top: 50%;
        left: -100rem;
        font-size: 73.572rem;
        font-style: normal;
        font-weight: 400;
        color: #146293;
        letter-spacing: -5.15rem;
        transform: translateY(-50%) rotate(90deg);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #fff;

        @include var.md {
            position: relative;
            top: unset;
            left: unset;
            margin-bottom: 30rem;
            font-size: 40rem;
            letter-spacing: 0;
            transform: unset;
            -webkit-text-stroke-width: 1px;
        }
    }
}

.bg_wrap {
    position: relative;
    z-index: 1;
    padding: 220rem 0 150rem;
    margin-top: -100rem;
    background: rgb(29 87 123 / 4%);
}
