*.DS_Store
wordpress/wp-config-inc.php
wordpress/wp-content/ai1wm-backups/
wordpress/wp-content/themes/twentynineteen/
wordpress/wp-content/themes/twentytwenty/
wordpress/wp-content/themes/twentytwentyone/
wordpress/wp-content/themes/twentytwentytwo/
wordpress/wp-content/uploads/
wordpress/assets/library/
wordpress/assets/ai1wm-backups/
wordpress/assets/themes/twentynineteen/
wordpress/assets/themes/twentytwenty/
wordpress/assets/themes/twentytwentyone/
wordpress/assets/themes/twentytwentytwo/
wordpress/assets/uploads/