@use 'components/variables' as var;

.singular__main {
    max-width: unset;
}

.club-activities {
    &-first-view {
        display: flex;

        &-image {
            flex-basis: 736rem;
        }

        &-text {
            display: flex;
            flex-basis: fill;
            flex-direction: column;
            gap: 30rem;
            justify-content: center;
            margin-left: -70rem;
            text-align: left;
            white-space: nowrap;
        }

        &-heading2 {
            font-size: 30rem;
            line-height: 150%;
            letter-spacing: 0.01em;
        }

        &-explain {
            font-size: 16rem;
            line-height: 206%;
            letter-spacing: 0.05em;
        }

        &-en {
            margin-top: 20rem;
        }
    }
}

.club-activities-image-loop {
    margin: 85rem auto;
    overflow: hidden;

    &__track {
        display: flex;
        gap: 0;
        width: max-content;
        animation: club-activities-loop 100s linear infinite;
    }

    &-image {
        flex: 0 0 auto;
        width: 390rem;
    }
}

@keyframes club-activities-loop {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
