@font-face {
    font-family: PPFragment;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/themes/mvc4wp/fonts/PPFragment-GlareLight.woff2") format("woff2"), url("/assets/themes/mvc4wp/fonts/PPFragment-GlareLight.woff") format("woff")
}

.top_wrap {
    display: flex;
    padding-right: 98rem
}

@media(max-width: 768px) {
    .top_wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0
    }
}

.top_wrap .top_image {
    position: relative;
    flex: 1;
    width: 851rem;
    height: 411rem;
    overflow: hidden
}

@media(max-width: 768px) {
    .top_wrap .top_image {
        flex: unset;
        width: 100%;
        height: 300rem
    }
}

.top_wrap .top_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
    object-fit: cover
}

.top_wrap .heading1 {
    display: flex;
    flex-basis: 330rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left
}

@media(max-width: 768px) {
    .top_wrap .heading1 {
        flex-basis: unset;
        margin: 20rem auto 27rem;
        text-align: center
    }
}

.top_wrap .heading1 .en {
    display: block;
    max-width: 240rem;
    margin-bottom: 20rem;
    font-family: "Zen Kurenaido", "Zen Kaku Gothic New", "shippori-mincho", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", meiryo, sans-serif;
    font-size: 42rem;
    line-height: 114%;
    color: #16569c;
    letter-spacing: .05em
}

@media(max-width: 768px) {
    .top_wrap .heading1 .en {
        max-width: unset;
        margin-bottom: 12rem;
        font-size: 34rem;
        letter-spacing: .03em
    }
}

.top_wrap .heading1 .ja {
    display: block;
    font-size: 13rem;
    -webkit-text-stroke: .05px;
    letter-spacing: .06em
}

@media(max-width: 768px) {
    .top_wrap .heading1 .ja {
        text-align: center
    }
}

.singular__main {
    max-width: 1130rem;
    padding-right: 99rem;
    margin: 70rem auto 75rem
}

@media(max-width: 768px) {
    .singular__main {
        width: 100%;
        padding: 0;
        margin-top: 27rem
    }
}

.singular {
    display: flex;
    gap: 116rem
}

.singular .content_wrap {
    width: 700rem
}

@media(max-width: 768px) {
    .singular .content_wrap {
        width: 100%
    }
}

.header_links {
    display: flex;
    flex-wrap: wrap;
    gap: 40rem;
    margin: 0 auto 50rem
}

@media(max-width: 768px) {
    .header_links {
        gap: 15rem 25rem;
        width: 86%;
        padding: 0
    }
}

.header_links a {
    display: flex;
    gap: 20rem;
    align-items: center;
    justify-content: center;
    padding: 15rem 0;
    font-size: 16rem;
    color: #16569c;
    border-bottom: 1px solid #16569c;
    transition: 300ms ease !important;
    transition-delay: 0s !important
}

@media(max-width: 768px) {
    .header_links a {
        gap: 10rem;
        padding: 10rem 0;
        font-size: 12rem
    }
}

.header_links a:hover {
    opacity: .6 !important
}

@media(max-width: 768px) {
    .header_links a:hover {
        opacity: 1 !important
    }
}

.header_links a .arrow {
    display: flex;
    width: 14rem
}

@media(max-width: 768px) {
    .header_links a .arrow {
        width: 12rem
    }
}

.side_menu {
    position: sticky;
    top: 150rem;
    right: 0;
    width: 210rem;
    height: -moz-max-content;
    height: max-content;
    padding-top: 10rem
}

@media(max-width: 768px) {
    .side_menu {
        display: none
    }
}

.side_menu li {
    margin-bottom: 30rem;
    text-align: left
}

.side_menu li:last-of-type {
    margin-bottom: 0
}

.side_menu li:first-of-type {
    margin-bottom: 30rem
}

.side_menu li:first-of-type .link {
    border-bottom: 1px solid #11151a
}

.side_menu li:first-of-type .link .link_text {
    font-size: 21rem;
    word-break: normal
}

.side_menu li .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15rem;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
    letter-spacing: .11em;
    border-bottom: 1px solid #becad7;
    transition: 300ms ease
}

.side_menu li .link .link_text {
    flex: 1;
    padding-bottom: 17rem;
    padding-left: 3rem;
    font-size: 15rem;
    text-align: left;
    letter-spacing: .01em;
    word-break: auto-phrase
}

.side_menu li .link .link_text span {
    color: #16569c
}

.side_menu li .link .link_text .main_only {
    display: none
}

.side_menu li .link .arrow {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 55rem;
    padding: 3rem 0 0
}

.side_menu li .link .arrow svg {
    width: 13.5rem
}

.side_menu li .link .arrow svg path {
    fill: #16569c
}

.side_menu li .link .link_text,
.side_menu li .link .arrow {
    align-self: stretch;
    min-height: 40rem
}

.side_menu li .link:hover {
    opacity: .6
}

@media(max-width: 768px) {
    .side_menu li .link:hover {
        opacity: 1
    }
}

.side_menu li .link:hover .arrow svg {
    animation: move_arrow .4s ease-in-out
}

@media(max-width: 768px) {
    .side_menu li .link:hover .arrow svg {
        animation: none
    }
}

.related-posts {
    margin-top: 120rem
}

@media(max-width: 768px) {
    .related-posts {
        width: 84%;
        margin: 70rem auto
    }
}

.related-posts .heading3 {
    display: flex;
    gap: 28rem;
    align-items: center
}

@media(max-width: 768px) {
    .related-posts .heading3 {
        gap: 13rem
    }
}

.related-posts .heading3 .en {
    font-family: "Zen Kurenaido", "Zen Kaku Gothic New", "shippori-mincho", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", meiryo, sans-serif;
    font-size: 45rem;
    color: #16569c
}

@media(max-width: 768px) {
    .related-posts .heading3 .en {
        font-size: 33rem
    }
}

.related-posts .heading3 .ja {
    padding-top: 6rem;
    font-size: 15rem;
    font-weight: 400;
    color: #11151a;
    letter-spacing: .1em;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: #11151a
}

@media(max-width: 768px) {
    .related-posts .heading3 .ja {
        font-size: 14rem
    }
}

.related-posts-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 45rem;
    margin: 40rem auto 0
}

@media(max-width: 768px) {
    .related-posts-wrap {
        flex-direction: column;
        align-items: center;
        margin-top: 40rem
    }
}

.related-posts-wrap.small_margin {
    margin-top: 40rem
}

.related-posts-wrap:first-child {
    margin-top: 0
}

.related-posts-wrap .sub {
    display: block;
    padding: 0 10rem;
    margin: 25rem auto -5rem;
    font-size: 17rem;
    font-weight: 700;
    text-align: left;
    letter-spacing: .01em
}

.related-posts-wrap .main_only {
    display: none
}

.related-posts-wrap .related-post {
    flex-basis: calc(33.3333% - 32rem)
}

@media(max-width: 768px) {
    .related-posts-wrap .related-post {
        flex-basis: 100%;
        width: 100%
    }
}

.related-posts-wrap .related-post .thumb {
    position: relative;
    width: 100%;
    padding-top: 66%;
    overflow: hidden;
    line-height: 0
}

.related-posts-wrap .related-post img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transition: 300ms ease;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
    object-fit: cover
}

.related-posts-wrap .related-post .heading3 {
    padding-bottom: 5rem;
    margin: 15rem auto 0;
    font-size: 14rem;
    font-weight: 400;
    line-height: 180%;
    color: #16569c;
    text-align: justify;
    letter-spacing: .09em;
    border-bottom: 1px solid #16569c;
    -webkit-text-stroke: .1px #16569c
}

.related-posts-wrap .related-post .text {
    margin-top: 0;
    font-family: "Zen Kurenaido", "Zen Kaku Gothic New", "shippori-mincho", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", meiryo, sans-serif;
    font-size: 15rem;
    font-weight: 400;
    line-height: 180%;
    text-align: justify;
    letter-spacing: .02em
}

.related-posts-wrap .related-post .link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 41rem;
    margin-top: 30rem
}

@media(max-width: 768px) {
    .related-posts-wrap .related-post .link {
        height: 35rem;
        margin-top: 15rem
    }
}

.related-posts-wrap .related-post .link .link_text {
    flex: 1;
    padding-left: 3rem;
    font-family: "Zen Kurenaido", "Zen Kaku Gothic New", "shippori-mincho", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", meiryo, sans-serif;
    font-size: 17rem;
    text-align: left;
    letter-spacing: .01em;
    border-bottom: 2px solid #d2d4d7
}

.related-posts-wrap .related-post .link .link_text span {
    color: #16569c
}

.related-posts-wrap .related-post .link .arrow {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 55rem;
    border-bottom: 2px solid #16569c
}

.related-posts-wrap .related-post .link .arrow svg {
    width: 15rem
}

.related-posts-wrap .related-post .link .arrow svg path {
    fill: #16569c
}

.related-posts-wrap .related-post a:hover .arrow svg {
    animation: move_arrow .4s ease-in-out
}

@media(max-width: 768px) {
    .related-posts-wrap .related-post a:hover .arrow svg {
        animation: none
    }
}

.related-posts-wrap .related-post a:hover img {
    transform: translate(-50%, -50%) scale(1.05)
}

@media(max-width: 768px) {
    .related-posts-wrap .related-post a:hover img {
        transform: translate(-50%, -50%)
    }
}

.related-posts-wrap .parent_button {
    display: flex;
    flex-basis: 100%;
    gap: 16rem;
    align-items: center;
    justify-content: flex-start;
    height: 62rem;
    padding-left: 28rem;
    margin-top: 6rem;
    font-size: 16rem;
    font-weight: 400;
    color: #16569c;
    -webkit-text-stroke: .2px #16569c;
    border: 1px solid #16569c;
    transition: 300ms ease
}

@media(max-width: 768px) {
    .related-posts-wrap .parent_button {
        flex-basis: unset;
        justify-content: center;
        width: 100%;
        padding: 15rem 10rem 15rem 0
    }
}

.related-posts-wrap .parent_button .arrow {
    width: 15rem;
    transform: scaleX(-1)
}

.related-posts-wrap .parent_button .arrow path {
    fill: #16569c;
    transition: 300ms ease
}

.related-posts-wrap .parent_button:hover {
    color: #fff;
    background: #16569c
}

.related-posts-wrap .parent_button:hover .arrow svg {
    animation: move_arrow .4s ease-in-out
}

@media(max-width: 768px) {
    .related-posts-wrap .parent_button:hover .arrow svg {
        animation: none
    }
}

.related-posts-wrap .parent_button:hover .arrow svg path {
    fill: #fff
}

@media(max-width: 768px) {
    .related-posts-wrap .parent_button:hover .arrow svg path {
        fill: #16569c
    }
}

.related-posts-wrap .heading4 {
    display: flex;
    flex-basis: 100%;
    gap: 24rem;
    align-items: center;
    padding: 15rem 0;
    margin-top: 0;
    font-size: 14rem;
    color: #16569c;
    border-bottom: .75px solid #16569c;
    -webkit-text-stroke: .1px #16569c
}