@use '../components/variables' as var;
@use '../components/section';
@use '../components/more';
@use '../components/more_sub_page';
@use '../components/topic';
@use '../components/footer';

.firstview {
    position: relative;
    padding-top: 31.5%;

    @include var.md {
        padding-top: 86%;
    }

    .main_image {
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            object-fit: cover;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }

    .logo {
        position: absolute;
        top: 40rem;
        right: 55rem;
        width: 260rem;

        a {
            display: block;

            @include var.md {
                height: 40rem;
            }
        }

        @include var.md {
            top: 15rem;
            left: 15rem;
            width: 150rem;
            opacity: 0;
        }
    }

    .heading1 {
        position: absolute;
        top: 65rem;
        left: 65rem;
        z-index: 3;
        width: max-content;

        @include var.md {
            top: unset;
            bottom: 20rem;
            left: 50%;
            opacity: 0;
            transform: translateX(-50%);
        }

        .small {
            display: block;
            margin-left: -10rem;
            font-family: var.$ship;
            font-size: 23rem;
            font-weight: 500;
            line-height: 165%;
            color: #242540;
            text-align: left;
            letter-spacing: 0.09em;

            @include var.md {
                font-size: 15rem;
            }

            .ul {
                position: relative;

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    z-index: -1;
                    width: 115%;
                    height: 12rem;
                    content: '';
                    background: #f5ee57;
                    transform: translateX(-50%);
                }
            }
        }

        .line_text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: 62rem;
            padding: 0 10rem 3rem;
            margin-top: 10rem;
            font-family: var.$ship;
            font-size: 35rem;
            font-feature-settings: 'palt';
            color: #fff;
            letter-spacing: 0.09em;
            background: #146293;

            @include var.md {
                height: 45rem;
                font-size: 25rem;
            }
        }
    }
}

.course_main {
    position: relative;
    z-index: 2;
    max-width: 1070rem;
    margin: 80rem auto;

    &::after {
        position: absolute;
        top: calc(50% + 60rem);
        left: 50%;
        z-index: -1;
        width: 100vw;
        height: 620rem;
        content: '';
        background: rgba($color: #1d577b, $alpha: 4%);
        transform: translate(-50%, -50%);
    }

    .heading2 {
        width: 100%;
        text-align: left;

        @include var.md {
            text-align: center;
            transform: unset;
        }

        .en {
            font-family: var.$ship;
            font-size: 70rem;
            font-weight: 400;
            color: #146293;
            letter-spacing: -0.06em;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;

            @include var.md {
                display: block;
                font-size: 40rem;
                line-height: 100%;
                text-align: center;
            }
        }

        .ja {
            font-size: 18rem;
            font-weight: 300;
            color: #146293;
            letter-spacing: 0.07em;
            -webkit-text-stroke-width: 0.1px;
            -webkit-text-stroke-color: #146293;

            @include var.md {
                display: block;
                margin-top: 20rem;
                text-align: center;
            }
        }
    }

    .heading4 {
        width: 100%;
        margin: 20rem auto;
        font-size: 18rem;
        font-weight: 300;
        color: #242540;
        text-align: left;
        letter-spacing: 0.06em;
        -webkit-text-stroke: 0.1px #242540;

        @include var.md {
            font-size: 16rem;
            line-height: 150%;
            text-align: center;
        }
    }

    .course_links {
        display: flex;
        gap: 45rem;
        justify-content: center;
        margin-top: 50rem;

        @include var.md {
            flex-direction: column;
            align-items: center;
        }
    }

    .link_item {
        width: 327rem;

        .image {
            overflow: hidden;
            line-height: 0;
        }

        img {
            transition: 300ms ease;
        }

        &:hover {
            img {
                transform: scale(1.05);

                @include var.md {
                    transform: scale(1);
                }
            }
        }

        .heading3 {
            margin: 20rem auto 15rem;
            font-family: var.$ship;
            font-size: 25rem;
            color: #146293;
            text-align: left;
            -webkit-text-stroke: 0.1px #146293;
        }

        .text {
            font-size: 16rem;
            line-height: 156%;
            color: #242540;
            text-align: left;
            letter-spacing: 0.06em;
            white-space: nowrap;
        }

        .button {
            display: flex;
            justify-content: space-between;
            padding: 0 6rem 6rem 0;
            margin-top: 18rem;
            font-family: var.$ship;
            font-size: 16rem;
            color: #146293;
            letter-spacing: 0.06em;
            border-bottom: 1px solid #146293;
            -webkit-text-stroke: 0.1px #146293;

            .arrow {
                width: 18rem;
            }
        }
    }

    .edu_links {
        display: flex;
        gap: 70rem;
        align-items: center;
        justify-content: center;
        margin-top: 70rem;

        @include var.md {
            flex-direction: column;
            gap: 40rem;
        }
    }

    .edu_item {
        position: relative;
        width: 300rem;
        overflow: hidden;
        border: 1px solid #146293;

        .button {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            gap: 11rem;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 65rem;
            font-family: var.$ship;
            font-size: 21rem;
            line-height: 150%;
            color: #146293;
            background: #fff;
            -webkit-text-stroke: 0.1px #146293;

            .underline {
                background: linear-gradient(
                    to bottom,
                    #fff 0%,
                    #fff 60%,
                    #f5ee57 61%,
                    #f5ee57 100%
                );
                transform: translateY(-3rem);
            }
        }

        .hand {
            width: 28rem;
        }

        img {
            transition: 300ms ease;
        }

        &:hover {
            img {
                transform: scale(1.05);

                @include var.md {
                    transform: scale(1);
                }
            }
        }
    }
}

.topic {
    flex-wrap: wrap;
    padding: 60rem 65rem 55rem;

    @include var.md {
        padding: 45rem 25rem 25rem;
    }

    .large {
        font-size: 51rem;
        font-weight: 400;

        @include var.md {
            font-size: 35rem;
        }
    }

    .per {
        font-size: 43rem;

        @include var.md {
            font-size: 30rem;
        }
    }

    .margin {
        margin-top: 25rem;
    }

    .results {
        position: relative;
        width: 100%;
        padding: 30rem 0;
        background: #f5f8fa;

        @include var.md {
            padding: 30rem 20rem;
            margin-top: 20rem;
        }
    }

    .heading4 {
        position: absolute;
        top: 0;
        left: 50%;
        font-family: var.$ship;
        font-size: 18rem;
        font-weight: 600;
        color: #146293;
        letter-spacing: 0.06em;
        transform: translate(-50%, -50%);
    }

    .result_text {
        font-size: 17rem;
        font-weight: 300;
        line-height: 176%;
        letter-spacing: 0.09em;

        @include var.md {
            font-size: 14rem;
        }
    }

    .slash {
        @include var.md {
            display: none;
        }
    }

    .warn {
        display: block;
        margin-top: 6rem;
        font-size: 13rem;
        font-weight: 300;
        letter-spacing: 0.06em;
    }
}
