@use 'reset';
@use 'variables';
@use 'mixin';

BODY {
    .debug {
        @include mixin.dark;

        &.debug-view {
            display: none;
            font-size: #{variables.$font_size_1};
            height: 20px;
            margin: 0px;
            opacity: 0.6;
            padding: 0px;
            width: 100%;

            .start:before {
                content: '|-START-: ';
            }

            .end:before {
                content: '|--END--: ';
            }

            .nest {
                &:before {
                    content: '{';
                }

                &:after {
                    content: '}';
                }
            }
        }
    }

    &:has(#debug-view-toggle:checked) {
        .debug {
            &.debug-view {
                display: block;
            }
        }
    }
}

#debug {

    * {
        font-family: #{variables.$fonts};
        font-size: #{variables.$font_size_1};
        text-align: left;
    }

    H1,
    H2,
    H3,
    H4,
    H5,
    H6,
    P {
        margin-block-start: #{variables.$font_size_1};
        margin-block-end: #{variables.$font_size_1};
    }

    PRE {
        font-size: #{variables.$font_size_2};
    }

    .debug-base03 {
        color: #{variables.$base03} !important;
    }

    .debug-base02 {
        color: #{variables.$base02} !important;
    }

    .debug-base01 {
        color: #{variables.$base01} !important;
    }

    .debug-base00 {
        color: #{variables.$base00} !important;
    }

    .debug-base0 {
        color: #{variables.$base0} !important;
    }

    .debug-base1 {
        color: #{variables.$base1} !important;
    }

    .debug-base2 {
        color: #{variables.$base2} !important;
    }

    .debug-base3 {
        color: #{variables.$base3} !important;
    }

    .debug-yellow {
        color: #{variables.$yellow} !important;
    }

    .debug-orange {
        color: #{variables.$orange} !important;
    }

    .debug-red {
        color: #{variables.$red} !important;
    }

    .debug-magenta {
        color: #{variables.$magenta} !important;
    }

    .debug-violet {
        color: #{variables.$violet} !important;
    }

    .debug-blue {
        color: #{variables.$blue} !important;
    }

    .debug-cyan {
        color: #{variables.$cyan} !important;
    }

    .debug-green {
        color: #{variables.$green} !important;
    }

    .debug-clickable {
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            opacity: 0.6;
        }
    }

    .debug-container {
        .debug-toggle-area {
            .debug-toggle-checkbox {
                display: none;

                &:checked~.debug-toggle-button {
                    transition: 0.2s;

                    .debug-icon {
                        &::after {
                            border-bottom: 4px solid #{variables.$red};
                            border-right: 4px solid #{variables.$red};
                            content: '';
                            display: block;
                            height: #{variables.$font_size_1};
                            opacity: 0.8;
                            position: absolute;
                            top: calc(-1 * #{variables.$font_size_1} / 4);
                            transform: rotate(45deg);
                            width: #{variables.$font_size_2};
                        }
                    }
                }
            }

            .debug-toggle-button {
                bottom: 0px;
                cursor: pointer;
                display: block;
                position: fixed;
                transition: 0.2s;
                z-index: 9999;

                &:hover {
                    opacity: 0.6;
                }

                .debug-icon {
                    display: inline-block;
                    box-sizing: border-box;
                    width: #{variables.$font_size_1};
                    height: #{variables.$font_size_1};
                    border-style: solid;
                    border-width: 3px;
                    opacity: 0.7;
                    transition: 0.3s;
                }
            }

            &.debug-show-toggle-area {
                .debug-toggle-button {
                    right: 20px;
                    bottom: 4px;
                }
            }

            &.debug-view-toggle-area {
                .debug-toggle-button {
                    right: 20px;
                    bottom: 32px;
                }
            }
        }

        .debug-contents {
            @include mixin.light;

            & {
                bottom: -100%;
                height: 50%;
                left: 0;
                overflow-y: hidden;
                position: fixed;
                resize: vertical;
                transition: 0.2s;
                width: 100%;
                z-index: 9998;

                &.is-hidden {
                    display: none;
                }

                .debug-tab-button {
                    @include mixin.light;

                    & {
                        display: block;
                        float: left;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        text-decoration: none;
                        transition: 0.3;
                        width: calc(100%/#{variables.$menu_count});
                    }
                }

                INPUT[name="debug-tab-radio"] {
                    display: none;

                    &:checked+.debug-tab-button {
                        @include mixin.dark;

                        & {
                            color: #{variables.$base2};
                        }
                    }

                    &:hover:enabled+.debug-tab-button {
                        @include mixin.dark;
                    }
                }

                .debug-tab-container {
                    @include mixin.dark;

                    & {
                        display: none;
                        height: calc(100% - 40px);
                        left: 0;
                        position: relative;
                        right: 0;
                        width: 100%;

                        &.scrollbar {
                            overflow-x: hidden;
                            overflow-y: scroll;
                        }
                    }
                }

                #debug-tab-radio-variable:checked~#debug-tab-container-variable,
                #debug-tab-radio-view:checked~#debug-tab-container-view,
                #debug-tab-radio-route:checked~#debug-tab-container-route,
                #debug-tab-radio-query:checked~#debug-tab-container-query,
                #debug-tab-radio-timer:checked~#debug-tab-container-timer,
                #debug-tab-radio-config:checked~#debug-tab-container-config,
                #debug-tab-radio-sql:checked~#debug-tab-container-sql,
                #debug-tab-radio-error:checked~#debug-tab-container-error {
                    display: block;
                }
            }
        }
    }

    .debug-padding {
        height: 0%;
        transition: 0.2s;
    }

    &:has(#debug-show-toggle:checked) {
        .debug-contents {
            bottom: 0%;
        }

        .debug-padding {
            height: 50%;
        }
    }

    .expand-container {
        position: relative;

        .checkbox {
            display: none;

            &:checked+.label {
                .icon-plus:after {
                    opacity: 0;
                }

                &+.expandable {
                    display: block;
                }
            }
        }

        .label {
            .icon-plus {
                color: #{variables.$base0};
                height: 1.6px;
                padding-left: #{variables.$font_size_1};
                position: relative;
                width: #{variables.$font_size_2};
            }

            .icon-plus:before,
            .icon-plus:after {
                background-color: currentColor;
                content: "";
                height: 1.6px;
                left: 0px;
                position: absolute;
                top: 50%;
                width: #{variables.$font_size_2};
            }

            .icon-plus:after {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                transition: 0.3s;
            }
        }

        .expandable {
            display: none;
            margin-left: #{variables.$font_size_1};
            transition: 0.3s;
        }
    }

    .name {
        &:before {
            content: "";
        }
    }

    .value {
        &:before {
            color: #{variables.$base0};
            content: "=>";
        }
    }
}