@use '../components/variables' as var;
@use '../components/section';
@use '../components/more';
@use '../components/more_sub_page';
@use '../components/footer';

.firstview {
    position: relative;
    padding-top: 31.5%;

    @include var.md {
        padding-top: 86%;
    }

    .main_image {
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            object-fit: cover;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }

    .logo {
        position: absolute;
        top: 40rem;
        right: 55rem;
        width: 260rem;

        @include var.md {
            top: 15rem;
            left: 15rem;
            width: 150rem;
            opacity: 0;
        }
    }

    .heading1 {
        position: absolute;
        top: 65rem;
        left: 65rem;
        z-index: 3;
        width: max-content;

        @include var.md {
            top: unset;
            bottom: 20rem;
            left: 50%;
            opacity: 0;
            transform: translateX(-50%);
        }

        .small {
            display: block;
            margin-left: -10rem;
            font-family: var.$ship;
            font-size: 23rem;
            font-weight: 500;
            line-height: 165%;
            color: #242540;
            text-align: left;
            letter-spacing: 0.09em;

            @include var.md {
                font-size: 15rem;
            }

            .ul {
                position: relative;

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    z-index: -1;
                    width: 115%;
                    height: 12rem;
                    content: '';
                    background: #f5ee57;
                    transform: translateX(-50%);
                }
            }
        }

        .line_text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: 62rem;
            padding: 0 10rem 3rem;
            margin-top: 10rem;
            font-family: var.$ship;
            font-size: 35rem;
            font-feature-settings: 'palt';
            color: #fff;
            letter-spacing: 0.09em;
            background: #146293;

            @include var.md {
                height: 45rem;
                font-size: 25rem;
            }
        }
    }
}

.school_life_item {
    width: 1090rem;
    margin: 80rem auto;

    @include var.md {
        width: 90%;
        margin: 60rem auto;
    }

    &:last-of-type {
        margin-bottom: 145rem;
    }

    .heading2 {
        margin-bottom: 25rem;
        text-align: left;

        @include var.md {
            text-align: center;
            transform: unset;
        }

        .en {
            font-family: var.$ship;
            font-size: 70rem;
            font-weight: 400;
            color: #146293;
            letter-spacing: -0.06em;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;

            @include var.md {
                display: block;
                font-size: 40rem;
                line-height: 100%;
                text-align: center;
            }
        }

        .ja {
            font-size: 18rem;
            font-weight: 300;
            color: #146293;
            letter-spacing: 0.07em;
            -webkit-text-stroke-width: 0.1px;
            -webkit-text-stroke-color: #146293;

            @include var.md {
                display: block;
                margin-top: 20rem;
                text-align: center;
            }
        }
    }

    .heading3 {
        display: flex;
        gap: 13rem;
        align-items: center;
        font-family: var.$ship;
        font-size: 22rem;
        font-weight: 400;
        color: #242540;
        text-align: left;
        letter-spacing: 0.04em;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: #242540;

        @include var.md {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 150%;
            text-align: center;
        }

        .block {
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: 34rem;
            padding: 0 22rem;
            font-size: 18rem;
            color: #146293;
            border: 1px solid #146293;
            -webkit-text-stroke-width: 0.1px;
            -webkit-text-stroke-color: #146293;
        }
    }

    .gallery + .heading3 {
        margin-top: 100rem;
    }
}

/*
* school activity
*/
$gallery1_item_width: 341rem;
$gallery1_item_width_sp: 254rem;
$gallery1_gap: 20rem;
$gallery1_item_num: 10;
$gallery1_item_num2: 9;
$gallery1_duration: 9s * $gallery1_item_num;
$gallery1_duration2: 9s * $gallery1_item_num2;
$gallery1_loop_width: ($gallery1_item_width + $gallery1_gap) *
    $gallery1_item_num;
$gallery1_loop_width2: ($gallery1_item_width + $gallery1_gap) *
    $gallery1_item_num2;
$gallery1_loop_width_sp: ($gallery1_item_width_sp + $gallery1_gap) *
    $gallery1_item_num;
$gallery1_loop_width2_sp: ($gallery1_item_width_sp + $gallery1_gap) *
    $gallery1_item_num2;

.gallery1 {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 50rem auto 0;

    // overflow: hidden;

    @include var.md {
        margin: 30rem auto 0;
    }

    @keyframes loop {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-($gallery1_loop_width));

            @include var.md {
                transform: translateX(-($gallery1_loop_width_sp));
            }
        }
    }

    @keyframes loop_sp {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-($gallery1_loop_width_sp));
        }
    }

    @keyframes loop2 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX($gallery1_loop_width2);

            @include var.md {
                transform: translateX($gallery1_loop_width2_sp);
            }
        }
    }

    @keyframes loop2_sp {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX($gallery1_loop_width2_sp);
        }
    }

    .list {
        position: relative;
        display: block;
        min-height: 181rem;

        @include var.md {
            min-height: 150rem;
        }
    }

    .loop {
        display: flex;
        gap: $gallery1_gap;
        width: $gallery1_loop_width;

        @include var.md {
            width: $gallery1_loop_width_sp;
        }
    }

    .loop3,
    .loop4 {
        width: $gallery1_loop_width2;

        @include var.md {
            width: $gallery1_loop_width2_sp;
        }
    }

    .loop1 {
        animation: loop $gallery1_duration linear infinite;

        @include var.md {
            animation: loop_sp $gallery1_duration linear infinite;
        }
    }

    .loop2 {
        position: absolute;
        top: 0;
        left: 0;
        animation: loop $gallery1_duration linear calc($gallery1_duration / -2)
            infinite;

        @include var.md {
            animation: loop_sp $gallery1_duration linear
                calc($gallery1_duration / -2) infinite;
        }
    }

    .loop3 {
        animation: loop2 $gallery1_duration2 linear infinite;

        @include var.md {
            animation: loop2_sp $gallery1_duration2 linear infinite;
        }
    }

    .loop4 {
        position: absolute;
        top: 0;
        left: 0;
        animation: loop2 $gallery1_duration2 linear
            calc($gallery1_duration2 / -2) infinite;

        @include var.md {
            animation: loop2_sp $gallery1_duration2 linear
                calc($gallery1_duration2 / -2) infinite;
        }
    }

    .item {
        position: relative;
        display: block;
        width: $gallery1_item_width;
        overflow: hidden;
        line-height: 0;
        border-radius: 12rem;
        transition: 500ms linear;

        @include var.md {
            width: $gallery1_item_width_sp;
        }

        // img{
        //     transform: scale(1.1);
        //     transition: 400ms $cb;
        // }
        .title {
            position: absolute;
            bottom: 12rem;
            left: 50%;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            width: 300rem;
            height: 32rem;
            font-size: 16rem;
            font-style: normal;
            font-weight: 500;
            color: #fffdf8;
            text-align: center;
            letter-spacing: 0.03em;
            background: rgba($color: #146293, $alpha: 100%);
            transform: translateX(-50%);

            @include var.md {
                width: 90%;
                font-size: 15rem;
            }
        }
    }
}

/*
* club activity
*/
$gallery2_item_width: 270rem;
$gallery2_item_width_sp: 254rem;
$gallery2_gap: 0;
$gallery2_item_num: 11;
$gallery2_item_num2: 9;
$gallery2_duration: 9s * $gallery2_item_num;
$gallery2_duration2: 9s * $gallery2_item_num2;
$gallery2_loop_width: ($gallery2_item_width + $gallery2_gap) *
    $gallery2_item_num;
$gallery2_loop_width2: ($gallery2_item_width + $gallery2_gap) *
    $gallery2_item_num2;
$gallery2_loop_width_sp: ($gallery2_item_width_sp + $gallery2_gap) *
    $gallery2_item_num;
$gallery2_loop_width2_sp: ($gallery2_item_width_sp + $gallery2_gap) *
    $gallery2_item_num2;

.static_images {
    display: flex;
    gap: 20rem;
    margin-top: 40rem;

    @include var.md {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 40rem auto 0;
    }

    .item {
        position: relative;
        width: 342rem;
        overflow: hidden;
        line-height: 0;
        border-radius: 7rem;

        @include var.md {
            width: 100%;
        }
    }

    img {
        line-height: 0;
    }

    .title {
        position: absolute;
        bottom: 12rem;
        left: 50%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 32rem;
        font-size: 16rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #fffdf8;
        text-align: center;
        letter-spacing: 0.03em;
        background: rgba($color: #146293, $alpha: 100%);
        transform: translateX(-50%);

        @include var.md {
            width: 90%;
            font-size: 15rem;
        }
    }
}

.gallery2 {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 50rem auto 0;

    // overflow: hidden;

    @include var.md {
        margin: 30rem auto 0;
    }

    @keyframes gal2_loop {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-($gallery2_loop_width));

            @include var.md {
                transform: translateX(-($gallery2_loop_width_sp));
            }
        }
    }

    @keyframes gal2_loop_sp {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-($gallery2_loop_width_sp));
        }
    }

    @keyframes gal2_loop2 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX($gallery2_loop_width2);

            @include var.md {
                transform: translateX($gallery2_loop_width2_sp);
            }
        }
    }

    @keyframes gal2_loop2_sp {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX($gallery2_loop_width2_sp);
        }
    }

    .list {
        position: relative;
        display: block;
        min-height: 181rem;

        @include var.md {
            min-height: 150rem;
        }
    }

    .loop {
        display: flex;
        gap: $gallery2_gap;
        width: $gallery2_loop_width;

        @include var.md {
            width: $gallery2_loop_width_sp;
        }
    }

    .loop3,
    .loop4 {
        width: $gallery2_loop_width2;

        @include var.md {
            width: $gallery2_loop_width2_sp;
        }
    }

    .loop1 {
        animation: gal2_loop $gallery2_duration linear infinite;

        @include var.md {
            animation: gal2_loop_sp $gallery2_duration linear infinite;
        }
    }

    .loop2 {
        position: absolute;
        top: 0;
        left: 0;
        animation: gal2_loop $gallery2_duration linear
            calc($gallery2_duration / -2) infinite;

        @include var.md {
            animation: gal2_loop_sp $gallery2_duration linear
                calc($gallery2_duration / -2) infinite;
        }
    }

    .loop3 {
        animation: gal2_loop2 $gallery2_duration2 linear infinite;

        @include var.md {
            animation: gal2_loop2_sp $gallery2_duration2 linear infinite;
        }
    }

    .loop4 {
        position: absolute;
        top: 0;
        left: 0;
        animation: gal2_loop2 $gallery2_duration2 linear
            calc($gallery2_duration2 / -2) infinite;

        @include var.md {
            animation: gal2_loop2_sp $gallery2_duration2 linear
                calc($gallery2_duration2 / -2) infinite;
        }
    }

    .item {
        position: relative;
        display: block;
        width: $gallery2_item_width;
        overflow: hidden;
        line-height: 0;
        transition: 500ms linear;

        @include var.md {
            width: $gallery2_item_width_sp;
        }

        // img{
        //     transform: scale(1.1);
        //     transition: 400ms $cb;
        // }
        .title {
            position: absolute;
            bottom: 12rem;
            left: 50%;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 28rem;
            font-size: 13rem;
            font-style: normal;
            font-weight: 500;
            color: #fffdf8;
            text-align: center;
            letter-spacing: 0.03em;
            background: rgba($color: #146293, $alpha: 100%);
            transform: translateX(-50%);

            @include var.md {
                width: 90%;
                font-size: 15rem;
            }
        }
    }
}

/*
* cultural activity
*/
$gallery3_item_width: 270rem;
$gallery3_item_width_sp: 254rem;
$gallery3_gap: 0;
$gallery3_item_num: 7;
$gallery3_item_num2: 9;
$gallery3_duration: 9s * $gallery3_item_num;
$gallery3_duration2: 9s * $gallery3_item_num2;
$gallery3_loop_width: ($gallery3_item_width + $gallery3_gap) *
    $gallery3_item_num;
$gallery3_loop_width2: ($gallery3_item_width + $gallery3_gap) *
    $gallery3_item_num2;
$gallery3_loop_width_sp: ($gallery3_item_width_sp + $gallery3_gap) *
    $gallery3_item_num;
$gallery3_loop_width2_sp: ($gallery3_item_width_sp + $gallery3_gap) *
    $gallery3_item_num2;

.gallery3 {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 50rem auto 0;

    // overflow: hidden;

    @include var.md {
        margin: 30rem auto 0;
    }

    @keyframes gal3_loop {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-($gallery3_loop_width));

            @include var.md {
                transform: translateX(-($gallery3_loop_width_sp));
            }
        }
    }

    @keyframes gal3_loop_sp {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-($gallery3_loop_width_sp));
        }
    }

    @keyframes gal3_loop2 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX($gallery3_loop_width2);

            @include var.md {
                transform: translateX($gallery3_loop_width2_sp);
            }
        }
    }

    @keyframes gal3_loop2_sp {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX($gallery3_loop_width2_sp);
        }
    }

    .list {
        position: relative;
        display: block;
        min-height: 181rem;

        @include var.md {
            min-height: 150rem;
        }
    }

    .loop {
        display: flex;
        gap: $gallery3_gap;
        width: $gallery3_loop_width;

        @include var.md {
            width: $gallery3_loop_width_sp;
        }
    }

    .loop3,
    .loop4 {
        width: $gallery3_loop_width2;

        @include var.md {
            width: $gallery3_loop_width2_sp;
        }
    }

    .loop1 {
        animation: gal3_loop $gallery3_duration linear infinite;

        @include var.md {
            animation: gal3_loop_sp $gallery3_duration linear infinite;
        }
    }

    .loop2 {
        position: absolute;
        top: 0;
        left: 0;
        animation: gal3_loop $gallery3_duration linear
            calc($gallery3_duration / -2) infinite;

        @include var.md {
            animation: gal3_loop_sp $gallery3_duration linear
                calc($gallery3_duration / -2) infinite;
        }
    }

    .loop3 {
        animation: gal3_loop2 $gallery3_duration2 linear infinite;

        @include var.md {
            animation: gal3_loop2_sp $gallery3_duration2 linear infinite;
        }
    }

    .loop4 {
        position: absolute;
        top: 0;
        left: 0;
        animation: gal3_loop2 $gallery3_duration2 linear
            calc($gallery3_duration2 / -2) infinite;

        @include var.md {
            animation: gal3_loop2_sp $gallery3_duration2 linear
                calc($gallery3_duration2 / -2) infinite;
        }
    }

    .item {
        position: relative;
        display: block;
        width: $gallery3_item_width;
        overflow: hidden;
        line-height: 0;
        transition: 500ms linear;

        @include var.md {
            width: $gallery3_item_width_sp;
        }

        .title {
            position: absolute;
            bottom: 12rem;
            left: 50%;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 28rem;
            font-size: 13rem;
            font-style: normal;
            font-weight: 500;
            color: #fffdf8;
            text-align: center;
            letter-spacing: 0.03em;
            background: rgba($color: #146293, $alpha: 100%);
            transform: translateX(-50%);

            @include var.md {
                width: 90%;
                font-size: 15rem;
            }
        }
    }
}
