@use '../components/variables' as var;

/*
* Footer
*/

footer {
    position: relative;
    z-index: 3;
    padding: 60rem 0;
    background: #1e2441;

    @include var.md {
        padding: 75rem 0;
    }

    .logo {
        width: 326rem;
        margin: 0 auto 30rem;

        @include var.md {
            width: 227rem;
        }
    }

    .copy {
        margin-top: 30rem;
        font-family: var.$ship;
        font-size: 11rem;
        line-height: 150%;
        color: #fff;
        text-align: center;

        @include var.md {
            font-size: 14rem;
        }
    }

    .text {
        font-family: var.$ship;
        font-size: 15rem;
        line-height: 200%;
        color: #fff;
        letter-spacing: 0.08em;
    }
}
