@use 'variables' as var;

.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.menu__inner {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 99rem;
    height: 100vh;
    min-height: 600rem;
    background: #3d7abc;
    box-shadow: 0 0 12rem rgb(57 57 57 / 11%);

    .menu__item {
        display: block;
        padding: 24rem 0 20rem;
        margin: 0 15rem;
        font-size: 11rem;
        font-weight: 400;
        line-height: 136%;
        color: #fff;
        -webkit-text-stroke: 0.05px;
        border-bottom: 1px solid #fff;

        &:last-of-type {
            margin-bottom: 20rem;
            border-bottom: none;
        }
    }

    .menu__item-icon {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .menu__sns {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 28rem;
        align-items: center;
        justify-content: center;
        justify-content: flex-end;
        padding: 35rem 16rem;
        margin-top: auto;
        background: #fff;

        a {
            width: 26rem;
        }
    }
}

.menu_top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 17rem 120rem 22rem 28rem;
    background: #fff;
    box-shadow: 0 0 12rem rgb(57 57 57 / 11%);
    transition: 0.9s cubic-bezier(0.19, 1, 0.22, 1);

    .menu_button {
        position: absolute;
        top: 0;
        right: 0;
        width: 66rem;
    }

    @include var.md {
        top: -1px;
        padding: 13rem 16rem;
        overflow: hidden;
    }

    .logo {
        width: 260rem;
        transition: 0.9s cubic-bezier(0.19, 1, 0.22, 1);

        @include var.md {
            width: 150rem;
            margin-top: 2rem;
        }
    }

    .links1 {
        display: flex;
        gap: 25rem;
        margin-top: 14rem;

        @include var.md {
            display: none;
        }

        .link {
            font-size: 15rem;
            -webkit-text-stroke: 0.1px;
        }
    }

    .links2 {
        display: flex;
        gap: 21rem;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2.5rem;
        transition: 0.9s cubic-bezier(0.19, 1, 0.22, 1);

        @include var.md {
            display: none;
        }
    }

    .links_wrap {
        position: relative;
        padding-right: 32rem;

        @include var.md {
            display: none;
        }
    }

    .links_small {
        display: flex;
        gap: 20rem;
        font-size: 15rem;

        a {
            color: #16569c;
            -webkit-text-stroke: 0.1px;
        }
    }
}

.opened_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    display: none;
    width: 100%;
    height: 100vh;
    padding-bottom: 50rem;
    overflow-y: scroll;
    pointer-events: none;
    background: rgba($color: #3d7abc, $alpha: 100%);
    opacity: 0;
    transition: 400ms linear;

    &::-webkit-scrollbar {
        display: none;
    }

    @include var.md {
        display: block;
    }

    &.is-show {
        pointer-events: all;
        opacity: 1;
    }

    .logo {
        position: absolute;
        top: 10rem;
        left: 12rem;
        width: 195rem;
    }

    .close {
        position: absolute;
        top: 16rem;
        right: 14rem;
        width: 37rem;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        width: 285rem;
        padding: 13rem;
        margin: 90rem auto 20rem;
        border: 0.75px solid #fff;

        .divider {
            flex-basis: 100%;
            width: 100%;
            height: 0.75px;
            background: #fff;
        }

        .menu-button {
            width: 128rem;
            margin: 12rem auto;

            &.has-border {
                border-right: 0.75px solid #fff;
            }
        }
    }

    .menu_link_wrap {
        display: flex;
        flex-direction: column;
        gap: 0;
        order: 2;
        width: 286rem;
        margin: 0 auto;

        .menu_section {
            width: 100%;
            padding-bottom: 9rem;
            color: #fff;
            border-bottom: 0.75px solid #fff;

            .title {
                position: relative;
                display: flex;
                align-items: center;
                height: 61rem;
                padding-top: 22rem;
                margin-bottom: 0;

                a {
                    display: block;
                    width: 85%;
                    padding-bottom: 14rem;
                    color: #fff;
                    text-align: left;
                }

                .english {
                    display: block;
                    margin-bottom: 8rem;
                    font-family: var.$en;
                    font-size: 12rem;
                    text-align: left;
                }

                .japanese {
                    font-size: 20rem;
                    letter-spacing: 0.3em;
                }
            }

            .link_list {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                max-height: 0;
                pointer-events: none;
                opacity: 0;
                transition:
                    500ms linear,
                    margin 100ms linear 400ms;

                &.is_show {
                    max-height: 600rem;
                    margin-top: 3rem;
                    margin-bottom: 8rem;
                    pointer-events: all;
                    opacity: 1;
                    transition:
                        500ms linear,
                        margin 100ms linear;
                }

                .item a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 38rem;
                    padding-left: 10rem;
                    font-size: 14rem;
                    line-height: 200%;
                    color: #211547;
                    letter-spacing: 0.03em;
                    background: rgba($color: #fff, $alpha: 80%);
                }
            }

            .title_button {
                position: absolute;
                right: 0;
                bottom: 2rem;
                z-index: 2;
                width: 40rem;
                height: 100%;
                padding: 29rem 6rem 14rem 22rem;
                content: '';
                transition: 400ms ease;
            }

            &.md {
                @include var.md {
                    padding: 0;
                    margin: 30rem auto 25rem;
                    border-bottom: unset;
                }

                .item {
                    a {
                        @include var.md {
                            display: block;
                            height: unset;
                            padding-left: 4rem;
                            font-size: 14rem;
                            line-height: 200%;
                            color: #fff;
                            text-align: left;
                            letter-spacing: 0.08em;
                            background: unset;
                        }
                    }
                }
            }
        }

        .sns {
            display: flex;
            gap: 30rem;
            align-items: center;
            justify-content: center;

            .sns-link {
                width: 24rem;
            }
        }
    }
}
