@use '_variables.scss' as var;

/** 
 * 各CSSの 'wp-' はfunctions.phpで削除しています
 */

.block_editor_content {
    $p: 16rem;
    $p_mobile: 13.5rem;

    width: 1024rem;
    margin: 0 auto;
    text-align: left;
    letter-spacing: 0.04em;

    @include var.md {
        width: 84%;
    }

    /** 最後の要素 */
    > *:last-child {
        margin-bottom: $p * 2;
    }

    /** 
     * Text
     */
    h1,
    h2 {
        padding-bottom: 12rem;
        font-size: 23rem;
        font-weight: 500;
        line-height: 142%;
        border-bottom: 0.75px solid #16569c;

        @include var.md {
            font-size: $p_mobile * 1.333;
            line-height: 150%;
        }

        + .block-columns {
            margin-top: 30rem;
        }
    }

    h3 {
        padding-bottom: 12rem;
        font-size: 23rem;
        font-weight: 500;
        line-height: 154%;
        color: #16569c;

        @include var.md {
            font-size: $p_mobile * 1.125;
            line-height: 155%;
        }

        + p {
            margin-top: 0;
        }

        + .block-table {
            margin-top: 0;
        }
    }

    h4,
    h5,
    h6 {
        font-size: $p * 1.125;
        font-weight: 500;
        line-height: 166%;
        color: #16569c;

        @include var.md {
            font-size: $p_mobile * 1.066;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $p * 1.5;

        // font-weight: bold;

        @include var.md {
            margin-top: $p_mobile * 1.3;
        }
    }

    p {
        min-height: 1em;
        margin-top: $p * 1.3;
        font-size: $p;
        line-height: 200%;

        @include var.md {
            font-size: $p_mobile;
        }

        &.has-large-font-size {
            font-size: 23rem;
        }

        &.has-x-large-font-size {
            font-size: 30rem;
            line-height: 150%;

            @include var.md {
                font-size: 22rem;
            }
        }

        &.has-small-font-size {
            font-size: 13rem;
        }

        &.label {
            width: max-content;
            padding: 0 12rem 2rem 9rem;
            margin-bottom: 29rem;
            color: #feffff;
            background: #16569c;
        }

        + p {
            margin-top: 2em;
        }

        a {
            color: #16569c;
            text-decoration: underline;
        }
    }

    :not(p, h1, h2, h3, h4, h5, h6) {
        + p {
            margin-top: $p * 2.5;

            @include var.md {
                margin-top: $p_mobile * 1.8;
            }
        }
    }

    ul,
    ol {
        margin-top: $p * 2.5;
        margin-left: 2em;
        font-size: $p;
        line-height: 1.56em;

        @include var.md {
            margin-top: $p_mobile * 1.8;
            margin-left: 1.5em;
            font-size: $p_mobile;
        }

        li {
            margin-top: 0.73em;
        }
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    strong {
        font-weight: bold;
    }

    .has-text-align-left {
        text-align: left;
    }

    .has-text-align-center {
        text-align: center;
    }

    .has-text-align-right {
        text-align: right;
    }

    /** 
     * Button 
     */
    .block-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 27rem;
        justify-content: center;
        margin-top: $p * 2.5;

        @include var.md {
            gap: $p_mobile;
            margin-top: $p_mobile * 1.8;
        }

        &.big-buttons {
            justify-content: flex-start;

            .block-button {
                &.w-1-3 {
                    flex: unset;
                    flex-basis: calc((100% - 52rem) / 3);

                    @include var.md {
                        flex-basis: 100%;
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    padding: 42rem 20rem;
                    font-size: 20rem;
                    color: #fff;
                    text-decoration-line: underline;
                    text-decoration-thickness: 0.75px; // 太さ
                    text-decoration-color: #fff;
                    text-underline-offset: 10rem; // 文字からの離れ
                    background: #16569c;
                    border-radius: 8rem;
                    text-decoration-skip-ink: auto;

                    @include var.md {
                        padding: 27rem 20rem 33rem;
                        font-size: 18rem;
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    .block-button {
        flex-grow: 1;

        @include var.md {
            flex-basis: 100%;
        }

        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20rem;
            font-size: 16rem;
            line-height: 142%;
            color: #11151a;
            text-align: left;
            border: 0.75px solid #16569c;

            @include var.md {
                font-size: $p_mobile * 1.066;
            }

            &::after {
                width: 18rem;
                height: 18rem;
                content: '';
                background-image: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='18'%20height='18'%20viewBox='0%200%2018%2018'%20fill='none'><path%20d='M16.707%209.0332L0.584961%209.0332'%20stroke='%2316569C'%20stroke-miterlimit='10'/><path%20d='M9.68164%2017.0645L17.0099%209.03241L9.68164%201.00037'%20stroke='%2316569C'%20stroke-miterlimit='10'/></svg>");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    /** 
     * Image
     */
    .block-image {
        margin-top: $p * 2.5;
        margin-right: auto;
        margin-left: auto;

        @include var.md {
            margin-top: $p_mobile * 1.8;
        }

        &.size-medium {
            width: 80%;
        }

        &.size-thumbnail {
            width: 64%;
        }

        img {
            @include var.md {
                width: 100% !important;
            }
        }
    }

    figcaption {
        width: 80%;
        margin: $p * 0.75 auto 0;
        font-size: $p * 0.8125;
        text-align: center;

        @include var.md {
            margin: $p_mobile * 0.75 auto 0;
            font-size: $p_mobile * 0.85;
        }
    }

    /** Gallery */
    .block-gallery {
        display: flex;
        flex-wrap: wrap;
        margin-top: $p * 2.5;

        $crop: 66.6667%; // square=50%, 16:9=56.25%, 3:2=66.66666667%

        @include var.md {
            margin-top: 13.5rem * 1.8;
        }

        .block-image {
            flex-grow: 1;
            margin-top: 0;
        }

        &.columns-default {
            $gap: $p * 1.5;
            $gap_mobile: 13rem;

            gap: $gap;

            @include var.md {
                gap: $gap_mobile;
            }

            .block-image {
                width: calc(100% / 3 - $gap);

                // padding-top: calc($crop / $i);
                margin: 0 auto;

                @include var.md {
                    width: calc(100% / 3 - $gap_mobile);
                }
            }
        }

        @for $i from 1 through 8 {
            &.columns-#{$i} {
                $gap: 32rem;
                $gap_mobile: 17rem;

                @if $i == 1 {
                    $gap: $p * 2;

                    gap: $gap;

                    @include var.md {
                        $gap_mobile: 17rem;

                        gap: $gap_mobile;
                    }
                } @else if $i > 1 and $i < 5 {
                    $gap: $p * 1.5;
                    $gap_mobile: 13rem;

                    gap: $gap;

                    @include var.md {
                        gap: $gap_mobile;
                    }
                } @else {
                    $gap: $p * 1;

                    gap: $gap;

                    @include var.md {
                        $gap_mobile: 10rem;

                        gap: $gap_mobile;
                    }
                }

                .block-image {
                    width: calc(100% / $i - $gap);

                    // padding-top: calc($crop / $i);
                    margin: 0 auto;

                    @include var.md {
                        width: calc(100% / $i - $gap_mobile);
                    }
                }
            }
        }

        &.is-cropped {
            .block-image {
                position: relative;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    /*
    * Columns / media
    */
    .block-columns,
    .block-media-text {
        display: flex;
        gap: 60rem;
        margin: 70rem auto 0;

        @include var.md {
            flex-direction: column;
            gap: 27rem;
            margin: 50rem auto 0;

            // max-width: 84.6%;
        }

        &:first-child {
            margin-top: 0;
        }

        &.has-media-on-the-right {
            @include var.md {
                flex-direction: column-reverse;
            }
        }

        &.md-reverse {
            @include var.md {
                flex-direction: column-reverse;
            }
        }

        &.are-vertically-aligned-center {
            align-items: center;
        }

        &--download {
            gap: 27rem;
            max-width: 700rem;
            margin-top: 22rem;
            margin-left: 0;

            @include var.md {
                gap: 8rem;
            }

            .block-column {
                &:first-child {
                    display: flex;
                    flex: unset;
                    align-items: center;
                    justify-content: center;
                    width: 152rem;
                    height: 52rem;
                    color: #fff;
                    text-align: center;
                    background: #16569c;

                    @include var.md {
                        width: 100%;
                        height: 38rem;
                    }

                    p {
                        line-height: 112.5%;
                    }
                }

                &:nth-child(2) {
                    flex: 1;

                    @include var.md {
                        width: 100%;
                    }
                }

                .block-button__link {
                    position: relative;
                    height: 52rem;
                    padding: 0 17rem 5rem 0;
                    border-top: unset;
                    border-right: unset;
                    border-bottom: 0.75px solid #16569c;
                    border-left: unset;

                    @include var.md {
                        width: 100%;
                        border-radius: unset;
                    }

                    &::before {
                        position: absolute;
                        top: calc(100% - 0.15px);
                        right: 0;
                        width: 52rem;
                        height: 0.75px;
                        content: '';
                        background: #16569c;
                    }
                }
            }
        }

        *,
        .block-image {
            margin: 0;
        }

        h2 + p {
            margin-top: 38rem;

            @include var.md {
                margin-top: 17rem;
            }
        }

        .block-column,
        .block-media-text__media,
        .block-media-text__content {
            flex: 1;

            @include var.md {
                width: 100%;
            }
        }
    }

    .block-column {
        p {
            &.has-x-large-font-size {
                margin: 20rem 0 19rem;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    /** 
     * quote
     */
    .block-quote,
    .block-pullquote {
        padding: $p * 2.73 7.5%;
        margin-top: $p * 2.5;
        background: #dbe7f3;

        @include var.md {
            padding: $p_mobile * 2 7.5%;
            margin-top: $p_mobile * 1.8;
        }

        * {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    /** 
     * iframe
     */
    iframe {
        &[src*='https://www.google.com/maps/embed'] {
            width: 100%;

            @include var.md {
                height: 283rem !important;
            }
        }
    }

    /**
     * embed item
     */
    .block-embed {
        margin-top: $p * 2.5;

        @include var.md {
            margin-top: $p_mobile * 1.8;
        }

        &.is-type-video {
            &.embed-aspect-16-9 {
                .block-embed__wrapper {
                    position: relative;
                    width: 100%;
                    padding-top: 56.25%;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100% !important;
                        height: 100% !important;
                        border: unset;
                    }
                }
            }
        }
    }

    /**
     * table
     */
    .block-table {
        margin-top: $p * 2.5;
        font-size: $p * 0.9375;

        @include var.md {
            margin-top: $p_mobile * 1.8;
            font-size: $p_mobile * 0.9375;
        }

        &.half-table {
            width: 50%;
        }

        &.has-header {
            tr:first-child {
                td {
                    background: #dbe7f3;
                }
            }
        }

        &.left-row-header {
            td:first-child {
                background: #dbe7f3;
            }
        }

        &.left-second-row-header {
            td:nth-child(2) {
                background: #dbe7f3;
            }
        }

        &.vertical-stripe {
            &.half-table {
                td {
                    &:first-child {
                        color: #fff;
                        background: #16569c;
                        -webkit-text-stroke-color: #fff;
                        -webkit-text-stroke-width: unset;
                    }
                }
            }

            td {
                &:nth-child(2n - 1) {
                    background: #dbe7f3;
                }
            }

            &.is-fixed {
                table-layout: fixed;

                td {
                    &:nth-child(odd) {
                        width: 192rem;
                    }
                }
            }
        }

        &.blue-stripe {
            width: 100%;
            table-layout: fixed;

            td {
                &:nth-child(odd) {
                    width: 192rem;
                    background: #dbe7f3;
                }
            }
        }

        &.hide-last-2 tr:last-child td:nth-last-child(-n + 2) {
            opacity: 0;
        }

        &.no-first-cell {
            tr:first-child td:first-child {
                color: #fff !important;
                background: #fff !important;
            }

            &.special-style {
                tr:first-child td {
                    background: #dbe7f3;
                }

                td {
                    vertical-align: middle;

                    &:nth-child(1),
                    &:nth-child(2) {
                        background: #dbe7f3;
                    }
                }
            }

            &.special-style-alt {
                tr:first-child td {
                    background: #dbe7f3;
                }

                td {
                    vertical-align: middle;

                    &:nth-child(1) {
                        background: #dbe7f3;
                    }
                }
            }
        }

        table {
            width: 100%;
            line-height: 112%;
            text-align: center;
            word-break: break-all;
            word-wrap: break-all;

            &.has-fixed-layout {
                table-layout: fixed;
            }

            @include var.md {
                display: block;
                width: 100vw;
                padding: 0 8%;
                margin: 18rem -8% 0;
                overflow-x: scroll;
                font-size: $p_mobile;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        tbody {
            @include var.md {
                display: table;
                width: max-content;
                table-layout: fixed;
            }
        }

        thead {
            th {
                background: #dbe7f3;
            }
        }

        th {
            font-weight: bold;
            background: #dbe7f3;
        }

        td {
            background: #f4f5f5;
        }

        th,
        td {
            padding: 1.2em 1.5em;
            border: 10px solid #fff;
            -webkit-text-stroke-width: 0.1px;
            -webkit-text-stroke-color: #11151a;

            h2,
            h3,
            h4,
            h5,
            p,
            ul,
            ol,
            li {
                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .block-separator {
        border: solid 0.25px #16569c;
    }

    .related-posts {
        margin-top: 60rem;
        margin-bottom: 52rem;

        @include var.md {
            width: 100%;
        }
    }

    .block-group {
        &.point {
            display: flex;
            gap: 8rem;
            align-items: center;
            width: max-content;
            font-family: var.$en;
            color: #16569c;
            border-bottom: 1px solid #16569c;

            p {
                &:first-child {
                    padding-top: 10rem;
                    font-size: 18.5rem;
                    letter-spacing: 0.04em;
                    -webkit-text-stroke-width: 0.2px;
                    -webkit-text-stroke-color: #16569c;
                }

                &:last-child {
                    font-size: 34rem;
                    line-height: 100%;
                }
            }
        }
    }

    .post_password {
        display: flex;
        gap: 10rem;
        max-width: 755rem;
        margin-top: 30rem;

        input[type='password'] {
            flex: 1;
            height: 58rem;
            padding-left: 15rem;
            border: 0.75px solid #16569c;

            @include var.md {
                flex: unset;
                width: 100%;
                height: 48rem;
            }
        }

        input[type='submit'] {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 138rem;
            height: 58rem;
            font-family: var.$en;
            font-size: 21rem;
            color: #fff;
            background: #16569c;

            @include var.md {
                width: 100%;
                height: 48rem;
            }
        }
    }

    p + .post_wrap {
        margin-top: 50rem;
    }

    .post_wrap {
        display: flex;
        gap: 20rem;
        align-items: center;
        width: 100%;

        @include var.md {
            flex-direction: column;
            align-items: flex-start;
        }

        .label {
            flex-basis: 100rem;
            font-size: 16rem;

            @include var.md {
                flex-basis: unset;
            }
        }

        .input-fake {
            display: flex;
            align-items: center;
            width: 478rem;
            height: 58rem;
            padding-left: 15rem;
            font-size: 16rem;
            border: 0.75px solid #16569c;

            @include var.md {
                width: 100%;
            }
        }
    }
}
